.gallery {
  margin: .5vw;
  padding: 30px 0;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
  .pictures {
    display: flex;
    flex-flow: row wrap;
    margin: .5vw;
    width: 100%;
  }
    div {
      flex: auto;
      width: 250px;
      margin: .5vw;
      transition: .5s;
      :hover {
        transform: scale(1.02);
      }
      img {
        width: 100%;
        height: auto;
      }
    }
}

@media screen and (max-width: 1000px){
  .gallery {
    padding: 50px 0;
  }
  
}